<!doctype html>
<html lang="en">

<head>
  <title>Gestíon de municipios</title>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <div th:insert="~{layouts/mdbcss::mdbcss}"></div>
  <div th:insert="~{layouts/flex::flex}"></div>
</head>

<body>
  <div class="wrapper ">
    
    <!-- Sidebar -->
     <div th:insert="~{layouts/sidebar::sidebar}"></div>
    
    <div class="main-panel">
	  <!-- Navbar -->
      <div th:insert="~{layouts/nav::navbar}"></div>
    
	  <!-- Content -->
      <div class="content" >
        <div class="container-fluid">
			<div >
				 <div >
				    <div class="card">
				        <div class="card-header card-header-success">
				            <h4 class="card-title">Gestión de municipios</h4>
				        </div>
				        <div class="card-body">
				        	<div class="row">
				        		<div class="col-md-6">
				        			<div class="table-responsive">
				        				<table class="table table-hover">
									    <thead>
									        <tr>
									            <th class="text-center">#</th>
									            <th>Nombre</th>
									            <th class="text-right">Acciones</th>
									        </tr>
									    </thead>
									    <tbody>
									        <tr th:each="municipio, iStat : ${municipios}">
									            <td th:text="${iStat.index+1}" class="text-center"></td>
									            <td th:text="${municipio.getNombre()}"></td>
									            <td th:if="${municipio.getNombre() != 'Bucaramanga'}" class="td-actions text-right">
									                <a th:href="@{'/municipios/edit/' + ${municipio.getId_municipio()}}" data-placement="left" title="Editar municipio"  rel="tooltip" class="btn btn-warning btn-simple">
									                    <i class="material-icons text-white">edit</i>
									                </a>
									                <a  th:href="@{'/municipios/remove/' + ${municipio.getId_municipio()}}" data-placement="left" title="Eliminar municipio" rel="tooltip" class="btn btn-danger btn-simple">
									                    <i class="material-icons text-white">close</i>
									                </a>
									            </td>
									             <td th:unless="${municipio.getNombre() != 'Bucaramanga'}">
										            <div class="row end-xs">
													    <div style="width: 200px;" class="col-xs-6">
													        <div class="box">
													            <span class="">No se debe editar</span>
													        </div>
													    </div>
													</div>
									            	
									            </td>
									        </tr>
									    </tbody>
									</table>
				        			</div>
									<p th:if="${municipios.size() == 0}" class="text-center text-muted">Sin registros.</p>
				        		</div>
				        		<div class="col-md-6">
				        		   <div class="card">
							          <div class="card-header card-header-text card-header-info">
							            <div class="card-text">
							              <h4 th:text="${municipio.id_municipio} ? 'Actualizar municipio':'Agregar municipio' " class="card-title"></h4>
							            </div>
							          </div>
							          <div class="card-body">
							          		 <strong>Nota: </strong> Si elimina un municipio se eliminaran con el todas sus estaciones asociadas.
											<form th:object="${municipio}" class="has-success" method="post" th:action="@{/municipios}">
													<input th:field="*{id_municipio}" style="display: none;"  type="text" name="id_municipio" >
													<input th:field="*{nombre}" required="required" type="text" name="nombre" class="form-control"  aria-describedby="emailHelp" placeholder="Escriba el nombre del municipio">
													<button class="btn btn-default btn-round my-3">
													  <i th:text="${municipio.id_municipio} ? 'done':'add' " class="material-icons mr-2"></i> 
													  <span th:text="${municipio.id_municipio} ? 'Actualizar':'Registrar' "></span>
													</button>
											</form>
							          </div>
							        </div>
				        		</div>
				        	</div>
				        </div>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	 </div>
	 <div th:insert="~{layouts/mdbjs::mdbjs}"></div>
	 <div th:insert="~{layouts/notification::notification}"></div>
</body>
</html>